@import "tailwindcss";

@theme {
    /* Cores temáticas do Abyssal End */
    --color-ocean-surface: #0077be;
    --color-ocean-twilight: #004b87;
    --color-ocean-midnight: #002a5c;
    --color-ocean-abyss: #00112b;
    --color-ocean-trench: #000000;

    /* Fontes */
    --font-mono: "Fira Code", monospace;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(
        to bottom,
        var(--color-ocean-surface) 0%,
        var(--color-ocean-twilight) 25%,
        var(--color-ocean-midnight) 50%,
        var(--color-ocean-abyss) 75%,
        var(--color-ocean-trench) 100%
    );
    color: aliceblue;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}
